
<div class="center jumbotron">
  <h1><%= RentFeedback::Application::APP_NAME %></h1>
  <h2>Building Trust Between Renters and Landlords</h2>
</div>
<p>
  This is the Home Page for <%= RentFeedback::Application::APP_NAME %>
</p>
<%= link_to   "Sign up now!", signup_path,
              class: "btn btn-lg btn-primary",
              id: 'signup' %>
