
<li id="review-<%= review %>">
  <span class = "content">
    <% (1..5).each do |star| %>
      <% if star <= review.overall_rating %>
          <%= image_tag "star_rating_full.png" %>
        <% else %>
          <%= image_tag "star_rating_empty.png" %>
      <% end %>
    <% end %>
    &nbsp;
    <%= review.headline %>
  </span>
</li>
